.bilder 
{
  grid-area: Img;
  width: 300px;
  height: auto;
  border-radius: 10px;
  border-color: transparent;
  background-color: white;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.warenkorb-button
{
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
  display: flex;
  flex-direction: row;
  align-items: baseline;
  cursor: pointer;
  border-radius: 10px;
  border-color: transparent;
}

  img
  {
    width: 30px;
    height: 30px;
  }

  .beschreibung
  {
    grid-area: Beschreibung;
    height: auto;
    width: 250px;
    word-wrap: break-word;
    font-weight: bolder;
    font-style: oblique;

  }

  .produktpreis
  {
    grid-area: Preis;
    height: 30px;
    width: 100px;
    font-weight: bold;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonVZ {
    background-color: transparent	;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(191, 191, 191);
  }