<div>
  <div class="image-container">
    <button class="buttonVZ" (click)="prevImage()">❮</button>
    <img [src]="produkt.bildUrl[currentIndex]" class="bilder" />
    <button class="buttonVZ" (click)="nextImage()">❯</button>
  </div>

  <div class="beschreibung">
    {{ produkt.beschreibung }}
  </div>

  <div class="produktpreis">
    {{ produkt.preis | number : "1.2-2" }}€
  </div>

  <button class="warenkorb-button" (click)="warenkorbclicked()">
    <img src="Bilder/warenkorb.png">
  </button>

</div>