<div id="popup" *ngIf="isVisible">
    <div class="popup-content">
        <span class="close-btn" (click)="closePopup()">x</span>
        <h2 class="ueberschrift">Profil</h2>
        <div class="buttom_container">
            <button class="login">
                <img src="Bilder/login.png">
            </button>
            <button class="einkaeufe">Einkäufe</button>
            <button class="logout">
                <img src="Bilder/logout.png">
            </button>
        </div>
    </div>
</div>