 .grid-containerWarenkorb {

     display: grid;
     grid-template-columns: 33% 33% 33%;
     grid-template-rows: 50% 50%;
     border-style: solid;
     border-color: white;
     border-radius: 10px;
     margin: 20px;
     background-color: rgb(138, 138, 138);


     .imgProdukt {
         grid-row-start: 1;
         grid-row-end: span 2;
         grid-column: 1;

         height: auto;
         max-width: 200px;
         justify-self: left;
         align-content: center;
         border-radius: 5px;
         background-color: white;

     }


     .beschreibung {
         grid-row: 1;
         grid-column: 2;
         width: auto;
         height: auto;
         word-wrap: break-word;
         color: white;
         font-weight: bolder;
     }


     .preis {
         grid-row: 2;
         grid-column: 2;
         width: auto;
         height: auto;
         color: white;
         font-weight: bolder;
     }

     .gesamtpreis {
         grid-row: 2;
         grid-column: 2;
         width: auto;
         height: auto;
         align-self: self-end;
         margin-bottom: 5%;
         color: white;
         font-weight: bolder;
     }

     .delete {
         grid-row: 1;
         grid-column: 3;
         height: 30px;
         width: 30px;
         display: flex;
         justify-self: right;
         justify-content: center;
         border-radius: 15%;
         border-color: transparent;
         background-color: transparent;
         cursor: pointer;

         img {
             width: 30px;
             height: 30px;
         }
     }

     .delete:hover {
         animation: shake 0.3s ease-in-out;
     }

     @keyframes shake {
         0% {
             transform: translateX(0);
         }

         25% {
             transform: translateX(-1px);
         }

         50% {
             transform: translateX(1px);
         }

         100% {
             transform: translateX(0);
         }
     }


     .grid-containerAnzahl {
         grid-row: 2;
         grid-column: 3;
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: 50% 50%;

         .anzahl {
             grid-row: 1;
             grid-column: 1/ -1;
             justify-self: center;
             align-self: center;
             width: auto;
             height: auto;
             color: white;
             font-weight: bolder;
         }

         .entfernen {
             grid-row: 2;
             grid-column: 1;
             height: 30px;
             width: 30px;
             display: flex;
             justify-self: right;
             align-items: center;
             justify-content: center;
             border-radius: 15%;
             cursor: pointer;
             border-color: transparent;
             background-color: transparent;

             img {
                 width: 30px;
                 height: 30px;
             }
         }

         .hinzufuegen {
             grid-row: 2;
             grid-column: 2;
             height: 30px;
             width: 30px;
             display: flex;
             justify-self: left;
             align-items: center;
             justify-content: center;
             border-radius: 15%;
             cursor: pointer;
             border-color: transparent;
             background-color: transparent;


             img {
                 width: 30px;
                 height: 30px;
             }

         }
     }
 }