<main>
  <div id="header">
    <img src="Bilder/logo.png" class="img">
  </div>
  <div id="navigation">

    <button class="profilbild-button" (click)="profilClicked()">
      <img src="Bilder/profilbild.png">
    </button>

    <button (click)="einkaufeClicked()" class="einkaeufe">
      Einkäufe
    </button>

    <button class="logout" (click)="logoutClicked()">
      <img src="Bilder/logout.png">
    </button>
  </div>

  <div id="produkte">
    @for(product of products; track products)
    {
    <app-product-card [produkt]="product" />
    }
  </div>

  <div id="warenkorb">
    <img src="Bilder/warenkorbSchrift.png" class="imgWarenkorbschrift" />
    <!-- <pre>{{warenkorbProduct | json}}</pre> --> <!-- Gibt das aktuelle Array aus -->

    <div *ngFor="let product of warenkorbService.getWarenkorb()">
      <img class="imgProdukt" [src]="product.bildUrl" alt="{{product.beschreibung}}" />
      <h3 class="beschreibung">{{product.beschreibung}}</h3>
      <p class="preis">Preis: {{product.preis }}</p>
      <p class="anzahl">Anzahl: {{product.anzahl}}</p>
      <button (click)="anzahlerNiedrigen(product.id)" class="entfernen">
        Entfernen
      </button>

    </div>
  </div>

</main>