<main>
  <div id="header">
    <img src="Bilder/logo.png" height="30px">
  </div>
  <div id="navigation">

    <button class="profilbild-button" (click)="profilClicked()">
      <img src="Bilder/profilbild.png">
    </button>

    <button (click)="einkaufeClicked()" class="einkaeufe">
      Einkäufe
    </button>

    <button class="logout" (click)="logoutClicked()">
      <img src="Bilder/logout.png">
    </button>

  </div>
  <div id="produkte">
    @for(product of products; track $index)
    {
    <app-product-card [produkt]="product" />
    }
  </div>
  <div id="warenkorb">
      <img src="Bilder/warenkorbSchrift.png" style="width: auto;"/>
      <pre>{{warenkorbProduct | json}}</pre>
  </div>
</main>