main {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 5% auto auto;

  #header {
    grid-row: 1;
    grid-column: 1 / span 3;
    height: auto;
    width: 100%;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      width: 20%;
      height: auto;
    }
  }

  #navigation {
    grid-row: 1 / span 2;
    grid-column: 1;
    height: auto;
    background-color: #cccccc;
    display: grid;
    grid-template-rows: 40px auto 40px;

    .profilbild-button {
      width: 45px;
      height: 45px;
      cursor: pointer;
      display: flex;
      justify-self: center;
      align-items: stretch;
      justify-content: center;
      border-radius: 50%;
      border-color: transparent;
    }

    .einkaeufe {
      width: 70%;
      height: 40px;
      font-size: 9px;
      cursor: pointer;
      justify-self: center; //Breite
      align-self: center; //Höhe
      border-radius: 10%;
      border-color: transparent;
    }

    .logout {
      width: 70%;
      height: 40px;
      cursor: pointer;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: stretch;
      border-radius: 10%;
      border-color: transparent;

    }
  }

  #produkte {
    grid-row: 2;
    grid-column: 2;
    height: auto;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    scrollbar-width: none;

    border-width: 4px;

    border-style: solid;
    border-color: #f4f4f4;
    align-content: start;


    .product-card {
      width: 350px;
      height: 400px;
      background-color: #cccccc;
      color: #feffff;
      font-size: 1.5rem;
      margin: 1rem;
      padding: 1rem;
      border-radius: 10px;
      position: relative;
      display: grid;
      grid-template-areas:
        "Img ."
        "Beschreibung ."
        "Preis Warenkorb";
      grid-template-rows: 320px auto 40px;
      grid-template-columns: 175px 175px;
    }

  }



  #warenkorb {
    grid-row: 2 / span 2;
    grid-column: 3;
    height: 100%;
    width: 0;
    background-color: #cccccc;
    display: grid;
    grid-template-rows: 10% auto 10%;
    transition: width 0.3s ease-in-out;
    justify-self: end;


    &.expanded {
      width: 100%;
    }


    .imgWarenkorbschrift {
      grid-row: 1;
      width: 40%;
      height: auto;
      display: flex;
      justify-self: center;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    #warenkorbInhalt {
      grid-row: 2;
      height: 74vh;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      overflow-y: auto;
      scrollbar-width: thin;

    }

    .gesamtpreis {
      grid-row: 3;
      height: auto;

      background-color: #cccccc;
      // border-top: 5px solid rgb(119, 124, 136);
      font-weight: bold;
      font-size: 20px;
      color: rgb(119, 124, 136);
    }

    .border-box {
      width: 80%;
      margin: 0 auto;
      border-top: 3px solid rgb(119, 124, 136);
    }

  }
}