@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

html,
body {
  font-family: "Whisper", serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(to right, rgb(207, 207, 207), rgb(105, 105, 111));
}
